.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 60%;
    position: fixed;
    left: 0;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid #646cff;
}

.chat-input {
    margin-top: 1em;
}

.chat-messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.sent-message {
    color: #ffffff;
    text-align: right;
}

.received-message {
    color: #646cff;
}

.title {
    flex-grow: 1;
    font-size: 20px;
    color: #646cff;
    text-shadow: 1px 1px 1px #CCCCCC

}